@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
  background-color: #e5e5f7;
  background: repeating-linear-gradient(
    45deg,
    #b4b7fb,
    #b4b7fb 5px,
    #e5e5f7 5px,
    #e5e5f7 25px
  );
}

body {
  --small-space: 0.2rem;
  --normal-space: 0.5rem;

  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'slnt' 0;

  margin: 0 2vw;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 300px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  color: #333;
}

p,
hr {
  margin: 0;
}

h1 {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}

h2 {
  color: #555;
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
}

a {
  color: #007bff;
  text-decoration: none;
}

img.photo {
  max-width: 150px;
  border-radius: 50%;
}

#short-info {
  align-items: center;
}

#info-rows {
  display: flex;
  flex-direction: column;
  row-gap: var(--normal-space);
  align-items: center;
}

.icon {
  width: 1.2rem;
}

.mb {
  margin-bottom: var(--normal-space);
}

.mt {
  margin-top: var(--normal-space);
}

.my {
  margin-top: var(--normal-space);
  margin-bottom: var(--normal-space);
}

.x-gap {
  column-gap: var(--normal-space);
}

.center-x {
  column-gap: 0.2rem;
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.ab > span {
  padding: var(--small-space);
  border-radius: 0.5rem;
  padding: 0.375rem 0.5rem;
  color: white;
  user-select: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.ab > span:hover {
  box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.7);
}

.red-chip > span {
  background-color: #ff4d4a;
}

.blue-chip > span {
  background-color: #007bff;
}

.green-chip > span {
  background-color: #2f3a4c;
}
